/* media screen resoultion */
@media only screen and (max-width: 1010px) {
    .content {
        padding: 0 4em;
    }
    footer {
        justify-content: center
    }
}
@media only screen and (max-width: 800px) {
    .content {
        padding: 0 2.5em;
    }
    .main-card {
        flex-flow: column;
        font-size: 16px;
    }
    .contact-section {
        display: block;
    }
    #content-body .card-panel {
        min-width: 26%;
        max-width: 26%;
    }
    .nav-banner h1 {
        font-size: x-large;
    }
}

@media only screen and (max-width: 700px) {
    .banner-text-cover > h2 {
        font-size: 50px;
    }
    .banner-text-cover > h3 {
        font-size: 42px;
    }
    .nav-phone {
        left: 2.5em;
    }
    .nav-banner {
        margin: 0 2.5em;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 0 1em;
    }
    #content-body .card-panel {
        min-width: 42%;
        max-width: 42%;
    }
    .banner-text-cover > h2 {
        font-size: 30px;
    }
    .banner-text-cover > h3 {
        font-size: 24px;
    }
    .banner-content {
        height: 300px
    }
    .banner-text-cover {
        color: #5a5a5a;
        -webkit-text-stroke: 0;
       margin-top: -5em;
    }
    .nav-banner h1 {
        font-size: 21px;
    }
}
@media only screen and (max-width: 550px) {
    .nav-phone {
        left: 1em;
    }
    .nav-banner {
        margin: 0 1.5em;
    }
}

@media only screen and (max-width: 500px) {
    .banner-text-cover > h2 {
        font-size: 25px;
    }
    .banner-text-cover > h3 {
        font-size: 20px;
    }
    #content-body .card-panel {
        min-width: 39%;
        max-width: 39%;
    }
    .hedaer-title {
        display: none;
    }
    
    #header {
        justify-content: flex-start;
    }
    .nav-banner {
        margin: 0 1.5em;
    }
}

@media only screen and (max-width: 400px) {
    .banner-content {
        height: 240px;
    }
    .banner-text-cover > h2 {
        font-size: 20px;
    }
    .banner-text-cover > h3 {
        font-size: 18px;
    }
    h1 {
        font-size: 1.6em;
    }
    .main-card {
        font-size: 14px;
    }
    #content-body .card-panel {
        min-width: 38%;
        max-width: 38%;
    }
    .nav-phone {
        font-size: 18px;
        left: 20px;
        padding-right: 20px;
    }
    
    .nav-phone i {
        display: none;
    }
}