/* media screen resoultion */
@media only screen and (max-width: 1200px) {
    .content {
        padding: 2em 5em;
    }
}
@media only screen and (max-width: 1024px) {
    .card-design {
        padding: 1.5em;
    }
    .content {
        padding: 2em 4em;
    }
    footer {
        justify-content: center
    }
    .contact-section {
        display: block;
    }
    .service-image {
        width: 54px;
    }
    .service-title {
        font-size:17px;
    }
}
@media only screen and (max-width: 800px) {
    .content {
        padding: 0 2.5em;
    }
    .main-card {
        flex-flow: column;
        font-size: 16px;
    }
    .nav-banner h1 {
        font-size: x-large;
    }
    .service-image {
        width: 48px;
    }
    .service-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .banner-text-cover > h2 {
        font-size: 50px;
    }
    .banner-text-cover > h3 {
        font-size: 42px;
    }
    .nav-phone {
        left: 2.5em;
    }
    .nav-banner {
        margin: 0 2.5em;
    }
    #content-body {
        justify-content: space-around;
    }
    #content-body .card-design {
        min-width: 30%;
        max-width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 2em 1em;
    }
    .banner-text-cover > h2 {
        font-size: 30px;
    }
    .banner-text-cover > h3 {
        font-size: 24px;
    }
    .banner-content {
        height: 300px
    }
    .banner-text-cover {
       margin-top: -6em;
    }
    .nav-banner h1 {
        font-size: 21px;
    }
}
@media only screen and (max-width: 550px) {
    .nav-phone {
        left: 1em;
    }
    .nav-banner {
        margin: 0 1.5em;
    }
}

@media only screen and (max-width: 500px) {
    .banner-text-cover > h2 {
        font-size: 35px;
    }
    .banner-text-cover > h3 {
        font-size: 22px;
    }
    .hedaer-title {
        display: none;
    }
    
    #header {
        justify-content: flex-start;
    }
    .nav-banner {
        margin: 0 1.5em;
    }
}

@media only screen and (max-width: 400px) {
    .banner-content {
        height: 280px;
    }
    .banner-text-cover > h2 {
        font-size: 30px;
    }
    .banner-text-cover > h3 {
        font-size: 21px;
    }
    h1 {
        font-size: 1.6em;
    }
    .main-card {
        font-size: 14px;
    }
    .nav-phone {
        font-size: 18px;
        left: 20px;
        padding-right: 20px;
    }
    .nav-phone i {
        display: none;
    }
    h4 {
        font-size: 15px;
    }
}