.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
    font-family: 'Open Sans Hebrew', serif;
    direction: rtl;
    float: center;
    box-sizing: content-box;
}
body {
    background-color: #F5F5F5;
    margin: 8px;
    margin: 8px;
    color: rgb(85, 88, 93);
}
#content-body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content-body .card-design {
    min-width: 17%;
    max-width: 17%;
}
a {
     color: black;
     text-decoration: none;
}
p {
    text-align:right;
    white-space: pre-line;
    margin: none;
}
.content {
    padding: 2em 10em;
}
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    background-image: url('../images/office-street.png');
    background-size: cover;
}
.section-header {
    display: flex;
}
.section-header-text {
    margin: 20px auto -5px auto;
}
.odd-header-text {
    color: #3a3a3a;
    font-weight: 400;
}
.dark-section {
    background-color: #2d2d2d;
}
.even-header-text {
    color: white;
    font-weight: 300;
}
.light-content {
    background-color: ;
}
#wrapper {
    width: 100%;
    position: absolute;
    top: 80px;
    right: 0;
}
#header {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    position:fixed;
    z-index: 999999;
    top: 0; 
    right: 0;
    height: 80px;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
}
.nav-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6em;
    min-width: max-content;
}
.nav-banner h1{
    color: rgb(85,88,93);
}
.main-card {
    display: flex;
    font-size: 18px;
}
.main-card img{
    margin: 15px 0 5px 0;
    width: 177px;
    height: 293px;
}
.service-image {
    font-size: 64px;
    width: 64px;
    color: white;
}
#banner-logo {
    width: 64px;
}
h1 {
    font-size: 2em;
    font-weight: 500;
    margin-right: 1em;
}
.banner-text-cover {
    -webkit-text-stroke: #5a5a5a 1px;
    text-align: center;
    font-size: 40px;
    position: absolute;
    margin-top: -12em;
    width: 100%;
    color: white;
    background-color: rgba(245,245,245,0.4);
}

.brand-logo-href {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card {
    margin: 0 20px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    padding: 5px 10px;
}
.card-design {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
    padding: 2em;
    margin: 1em 0;
}
.card-design:hover {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.21);
}
.banner-content {
    background-image:url('../images/computer_background.png'); 
    background-size:cover; 
    background-repeat: no-repeat; 
    height: 40em;
    opacity:0.7;
    box-shadow: 0 0 10px 0;
}
footer {
    background-color: #3A3A3A;
    padding: 20px;
    color: #34a6c0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.contact-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footer-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: max-content;
    margin: 10px 20px;
}
.office-detail {
    margin-right: 5px;
}
.office-detail a {
    color: #34a6c0;
}
.google-maps-iframe {
    border:0; 
    width: 65%;
    height: 400px;
    margin: 15px 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.grid-icon-row {
    display: flex;
    justify-content: center;
}
.dark-content {
    background-color: #3a3a3a;
    color: white;
}
.material-icons {
    width: 24px;
    height:24px;
}
.service-card {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
.service-title {
    font-size: 20px;
    margin: 10px 0 0 0;
}
.main-card-text {
    border-right: 3px solid;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: 300;
}
.main-card-aside {
    text-align: center;
    display: flex;
    flex-flow: column;
    width: 177px;
    margin: 0 4em 10px auto;
}
.contact-header {
    font-weight: 400;
    color: white;
}
.nav-phone {
    background: linear-gradient(to bottom, #1eb939 0%,#5ecb31 50%,#1cb700 51%,#4f7210 100%);
    color: white;
    position: absolute;
    display: flex;
    top: 20px;
    left: 100px;
    flex-flow: wrap-reverse;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
}
.nav-phone:hover {
    cursor: pointer;
    opacity: 0.85;
}
.nav-phone i {
    margin-left: 5px;
}