$font-face: 'Open Sans Hebrew', 'Arial';

$font-weight-thick: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$light-background-color: #F5F5F5;
$dark-background-color: #3A3A3A;

$green-color: #1cb700;
$dark-section: #2d2d2d;
$link-color: #34a6c0;
$grey-color: #54575d;

$small-icon-size: 24px;
$big-icon-size: 64px;